/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #008080;
}

.link-button:hover,
.link-button:focus {
  outline: none;
}

body {
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

.App {
  background-color: #1ee494;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarMene {
  width: 50vw;
}

/*text*/
.secondary {
  color: gray;
}

.tertiary {
  color: lightgray;
}


.title {
  font-size: 120%;
  font-weight: bold;
}

.text_max {
  width: 100%;
}

.text_flex {
  flex: 1;
}

.text_center {
  align-self: center;
}

.unselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiple {
  vertical-align: middle;
  word-wrap: break-word;
}

.space {
  padding-left: 1em;
}

.chatroomContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.column {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

/*Sidebar*/
.sidebar {
  width: 20em;
  overflow: hidden;
  border: 1px solid #d4d4d5;
}

.list {
  overflow-y: scroll;
}

.chats {
  flex: 1;
  box-sizing: border-box;
  padding: 1em;
  padding-bottom: 0;
  overflow-y: scroll;
  background-color: none;
}

::-webkit-scrollbar {
  display: none;
}

.chatroom {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.extendable {
  flex: 1;
}

/*container*/
.container {
  width: 100%;
  padding: 1em;
  display: flex;
}

.listChatContent {
  flex: 1;
  padding-left: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;
}

.center {
  align-items: center;
  justify-content: space-around;
}

.divider {
  border-bottom:1px solid #d4d4d5;
}

/*avatar*/
.avatar {
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
}

.avatar.normal {
  width: 4em;
}

.avatar.small {
  width: 3em;
}

.square {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.avatar img {
  border-radius: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
