/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #008080;
}

.link-button:hover,
.link-button:focus {
  outline: none;
}

body {
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

.App {
  background-color: var(--color-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*global*/
::-webkit-scrollbar {
  display: none;
}

:root {
  --color-primary: rgba(176, 228, 110, 1);
  --color-bg: white;
  --color-bg-selected: rgba(0, 0, 0, 0.3);
  --color-bg-none: rgba(243, 243, 243, 1);
  --color-border: #d4d4d5;
}

/*font*/
.title {
  font-size: 140%;
  font-weight: bold;
  color: black;
}

.subtitle {
  font-size: 120%;
  font-weight: bold;
  color: black;
}

.secondary {
  color: #979799;
}

.tertiary {
  font-size: 90%;
  color: lightgray;
}

/*text*/
.text_center {
  align-self: center;
}

.unselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiple {
  vertical-align: middle;
  word-wrap: break-word;
}

/*container*/
.flexBox {
  display: flex;
  overflow: hidden;
}

.flexBox.max {
  width: 100vw;
  height: 100vh;
}

.flexBox.column {
  flex-flow: column;
}

.flexBox.row {
  flex-flow: row wrap;
}

.flexBox.center {
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.center-v {
  align-items: center;
  justify-content: space-around;
}

/*common*/
.maxWidth {
  width: 100%;
}

.flexMaxWidth {
  max-width: 100%;
}

.extendable {
  flex: 1;
}

.padding {
  padding: 1em;
}

.space {
  padding-left: 1em;
  margin: 0;
}

.border {
  border: 1px solid var(--color-border);
}

.list {
  overflow-y: scroll;
}

.divider {
  border-bottom: 1px solid var(--color-border);
}

/*component*/
.sidebarMene {
  width: 50vw;
}

.sidebar {
  width: 20em;
}

.chats {
  padding: 0 1em 0 1em;
  background-color: var(--color-bg-none);
}

/*message*/
.message {
  background-color: var(--color-bg);
  border-radius: 0.3em;
  padding: 0.5em;
  position: relative;
}

.message.self {
  background-color: var(--color-primary);
}

.message:before {
  content: "";
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background-color: inherit;
  position: absolute;
  top: 1em;
  left: 0;
  width: 0.6em;
  height: 0.6em;
}

/*avatar*/
.avatar {
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
}

.avatar.big {
  width: 5em;
}

.avatar.normal {
  width: 4em;
}

.avatar.small {
  width: 3em;
}

.square {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.avatar img {
  border-radius: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
