/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #008080;
}

.link-button:hover,
.link-button:focus {
  outline: none;
}

body {
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

.App {
  background-color: #1ee494;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



.sidebarMene {
  width: 50vw;
}

.chatroom {
  padding: 2em;
  display: flex;
  flex-flow: column;
}

.chats {
  box-sizing: border-box;
  padding: 1em;
  padding-bottom: 0;
  flex: 1;
  overflow-y: scroll;
  background-color: none;
}

/*font*/
.title {
  font-size: 120%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondary {
  color: gray;
}

/*Sidebar*/
.sidebarListContainer {
  overflow-y: auto;
}
.sidebarList {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}

.listItemContainer {
  width: 100%;
  padding: 1em;
  display: flex;
}

.listItemHead {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.listChatContent {
  flex: 1;
  padding-left: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;
}

.contactTitle {
  align-self: center;
}

.chatTitle {
  flex: 1;
}

.chatRecord {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messageItemHead {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.messageTime{
  padding-left: .5em;
}

.messageContent{
  background-color: white;
  width: 100%;
  vertical-align: middle;
  word-wrap: break-word;
}

/*avatar*/
.imgBox {
  display: inline-block;
  position: relative;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
}

.imgBoxNormal {
  width: 4em;
}

.imgBoxSmall {
  width: 3em;
}

.imgBoxContent {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.imgBox img {
  border-radius: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
